.container__big-card{
    border: solid rgb(221, 9, 9) 2px;
    border-radius: 1rem;
    width: 50vw;
    height: 60vh;
    overflow: hidden;
    margin-left: 5vh;
    display: flex;
}

.big-card__photo{
    width: 50%;
}

.big-card__texto{
    width: 50%;
    background-color: rgb(218, 103, 87);
}
.big-card__texto > h1{
    font-size: 20px;
    margin-top: 15px;
}

.big-card__texto > p{
    margin-top: 10px;
}

.big-card__texto > p > a{
    color: grey;
}

.big-card__photo > img{
    width: 100%;
    min-width: 400px;
}