.container__big-card{
    border-radius: 2rem;
    width: 76rem;
    height: 30rem;
    overflow: hidden;
    /* margin-left: 5vh; */
    display: flex;
}

.big-card__photo{
    width: 65%;
}

.big-card__photo > img{
    height: 100%;
    width:100%;
}

.big-card__texto{
    width: 45%;
    background-color: #030C13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 3rem;
    gap: 1rem;
}
.big-card__texto h1 > a{
    font-size: 2rem;
}

.big-card__texto p > a{
    font-size: 1rem;
    line-height: 1.7rem;
}

a{
    text-decoration: none;
    color: white;
}

.big-card__data{
    color: white;
    font-weight: bold;
}