<nav class="navbar">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse menu-dropdown" id="navbarToggleExternalContent">
          <ul>
              <li><a href="https://www.avanade.com/pt-br/industry">Indústrias</a></li>
              <li><a href="https://www.avanade.com/pt-br/services">Serviços</a></li>
              <li><a href="#">Insights</a></li>
              <li><a href="https://www.avanade.com/pt-br/career">Carreiras</a></li>
              <li><a href="https://www.avanade.com/pt-br/about">Sobre</a></li>
          </ul>
      </div>
  </div>
</nav>
