.container__menu-title{
    color: #333333;
    margin: 4rem 0 4rem 0;
    width: 60vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container__menu-title > h1{
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-weight: 600;
}

.container__menu-title > p{
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: center;    
}
