.container__menu-title{
    color: #333333;
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    margin-block: 5rem;
    width: 31%;
    margin-inline: auto;
    
}

.container__menu-title > h1{
    margin-bottom: 15px;
    font-size: 5rem;
    font-weight: 400;
}

.container__menu-title > p{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
