.container__menu-title{
    color: #333333;
    /* border: 1px solid blue; */
    
    text-align: left;
    margin: 4rem 0 4rem 0;
    width: 40vw;
    margin-inline: auto;
    
}

.container__menu-title > h1{
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-weight: 600;
    /* background-color: aquamarine; */
    text-align: left;
}

.container__menu-title > p{
    font-size: 1.1rem;
    line-height: 1.8rem;
}
