.container__small-card{
    width: 18rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
}

.small-card__photo{
    height: 40%;
}

.small-card__photo > img{
    width: 100%;
    height: 100%;
}

.small-card__texto{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
    gap: 1rem;
    background-color: #ffffff;
}

.small-card__title h1 > a{
    font-size: .9rem;
}

.small-card__title h1{
    line-height: .8rem;
    margin-bottom: .8rem;
}

.small-card__description p > a{
    font-size: .8rem;
    line-height: 1rem;
}

.small-card__texto p {
    text-align: justify;
    margin-bottom: .8rem;
}

.small-card__data {
    color: #333333;
    font-weight: bold;
    font-size: .8rem;
}

a{
    text-decoration: none;
    color: #333333;
}