.container__articles{
    margin: 0 0 2rem 0;
    width: auto;
    display:flex;
    justify-content: center;
    gap: 2rem;
}

.articles__novos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

