<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card Id="1"
            photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Fmicrosoft-productivity-studio-hero%3Fv%3D4601d32c&w=640&q=75"
            cardTitle="Uma nova parceria entre Microsoft e Avanade"
            cardDescription="Em uma economia global em rápida mudança, as empresas que continuarão a crescer são aquelas que capacitam seus funcionários. Produtividade não é mais um diferencial..."
            cardData=" 21 Mar, 2025">
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card Id="2"
            photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Fazul-airlines-client-story&w=384&q=75"
            cardTitle="Avanade suporta expansão de mercado da Azul"
            cardDescription="Avanade suporta a expansão de mercado da companhia aérea Azul através da implementação de serviços gerenciados."
            cardData=" 07 Fev, 2025">
        </app-small-card>
    </div>
</div>


<div class="articles__novos">
    <app-small-card Id="3"
        photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Fisraelita-hospital-albert-einstein-digital-transformation-client-story&w=384&q=75"
        cardTitle="Hospital Israelita Albert Einstein continua sua jornada de trans..."
        cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's."
        cardData=" 30 Nov, 2024">
    </app-small-card>
    <app-small-card Id="4"
        photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Fcpfl-energia-client-story&w=384&q=75"
        cardTitle="Piloto de Automação gera aumento da eficiência oper... "
        cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's."
        cardData=" 01 Ago, 2024">
    </app-small-card>
    <app-small-card Id="5"
        photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Fnonprofit-industriesl2-fullbleedhero-image1-1728x740&w=3840&q=75"
        cardTitle="Ação social da avanade com parceria da Visão Mundial "
        cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's."
        cardData=" 24 Jun, 2024">
    </app-small-card>
    <app-small-card Id="6"
        photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Fbenefits-hero-1-2---1728x740%3Fv%3Dd5cb9a23&w=3840&q=75"
        cardTitle="Trabalho híbrido e suas vantagens para nossa equipe "
        cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's."
        cardData=" 15 Fev, 2024">
    </app-small-card>
</div>