.container__menu-bar{
    background-color: #FFFFFF;
    /* border: 1px black solid; */
}

.container__menu-bar > ul{
    display: flex;
}

.container__menu-bar > ul > li{
    margin-right: 20px;
    list-style: none;
}



