<div class="container__menu-bar">
    <img src="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Favanade-logo-color1%3Fv%3D20cee9df&w=1200&q=75" alt="logo avanade">
    <ul>
        <li><a href="https://www.avanade.com/pt-br/industry">Indústrias</a></li>
        
        <li><a href="https://www.avanade.com/pt-br/services">Serviços</a></li>
        
        <li><a href="#">Insights</a></li>
        
        <li><a href="https://www.avanade.com/pt-br/career">Carreiras</a></li>
        
        <li><a href="https://www.avanade.com/pt-br/about">Sobre</a></li>
    </ul>
    <button>Entre em contato conosco</button>
</div>



